.Rproj.user
.Rhistory
.RData
.Ruserdata
.data
.models
BookProposalForm.odt
index.log
tmp
_book
/.quarto/
*_cache/
resources/*.log
resources/*.pdf
resources/*.aux
resources/*synctex.gz
crc
docs/Deep-Learning-and-Scientific-Computing-with-R-torch.pdf

